.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


header, footer {
  background-color: mediumorchid;
 
}


h2 > img {
  max-height: 18px;
  max-width: 18px;

}


header {
  height: 220px;
  width: 100%;
  padding-top: 20px;
 
}


header > h1 {
  color: white;
  font-size: 36px;
  font-family: bold;
  text-indent: 26px;

}


ul {
  float: right;
  padding-right: 80px;
}

li {

display: inline;
color: blue;
font-size: 22px;
float: left;
margin: 10px;
text-decoration: underline;

}


a {
  color: white;
}

html {
  min-height: 100vh;
}

section {
  height: 120px;
  width: 100%;
  background-color: lightgrey;
  border-style: solid;
  border-width: 3px;


  
}


section > h2 {
  text-align: center;
  font-size: 35px;
  padding-top: 10px;

 

}


aside {
  height: 120px;
  width: 100%;
  background-color: lightgrey;
  border-style: solid;
  border-width: 3px;


}

 aside > h2 {
  font-size: 45px;
  text-align: center;
  color: mediumorchid;
  padding-bottom: 7px;
  text-decoration-line: underline;
 }


element {
  color: mediumorchid;
  font-style: bold;

}


main {
  height: 500px;
  width: 100%;
  float: left;
  background: url(../assets/coworking.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  padding-top: 20px;

}

article {
  height: 420px;
  width: 23%;
  float: right;
  background-color: white;
  opacity: 0.8;
  border: 2px;
  border-color: lightgrey;
  border-style: solid;
  margin-top: 30px;

}


article > h1 {
  color: black;
  font-family: bold;
  font-size: 32px;
  padding-left: 28px;

}


article > p  {
  font-size: 9px;
  padding-left: 30px;
  padding-right: 14px;
  padding-bottom: 10px;
}


aside > p > img {
  max-height: 300px;
  max-width:  300px;
}

article > aside {
  background-color: yellow;
  border-radius: 0%;
  height: 40px;
  width: 100px;
  color: black;
  font-family: bold;
  font-size: 20px;
  padding: 10px 23px 10px 20px;
  display: inline;
  margin: 24px;
  
}



content > aside {
  height: 300px;
  width: 30%;
  float:left;
  border-right: 1px;
  border-style: solid;
  border-color: lightgray;
}

content > section {
  background-color: lightgray;
  height: 300px;
  width: 30%;
  float:left;
  
}




aside> h1 {
  color: black;
  font-family: bold;
  font-size: 36px;
}

aside > p {
  color: black;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 65px;
}


section > h1 {
  background-color: white;
  color: black;
  font-family: bold;
  font-size: 36px;
}


section > p {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 14px;
  padding-bottom: 10px;
}

section > p > img {
  max-height: 300px;
  max-width: 300px;
  background-position: center;
}

footer {
  height: 75px;
  
}


footer > p {

  color: white;
  font-size: 20px;
  text-indent: 20px;
  padding-top: 23px;

}